:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary-dark: #333;


    --spacing-gutter-small: 2rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    
}
/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
} */

.main-div {
    padding: var(--spacing-gutter-medium);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.navbar li {
    display: inline;
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: var(--spacing-gutter-small);
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}
.navbar div li {
    float: right;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: var(--spacing-gutter-medium);
  }
  
  .main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
  }
  
  .main-footer a:hover {
    filter: brightness(0.8);
  }
  