{% extends "global/base.html" %} 

{% block title %}Home | {% endblock title %}

{%block content %}

    <div class="main-div">
        <h1>Lorem ipsum dolor sit amet.</h1>
    
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas culpa,
        molestiae maxime possimus dolore quia velit, alias voluptatem odit eligendi
        ducimus quaerat. Libero veritatis iusto magni, magnam animi sint voluptates.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sapien turpis,
        hendrerit vitae elementum id, tempus nec metus. Proin eu sapien id mauris
        ornare aliquam eget ut quam. Nam sed accumsan felis. Suspendisse id felis
        vulputate, finibus neque a, gravida ipsum. Etiam erat ipsum, eleifend sed
        ipsum a, accumsan semper augue. Duis non porttitor nulla, id finibus quam.
        Vestibulum et mattis erat. Sed sagittis suscipit massa ac maximus. Integer ex
        erat, tempus a vehicula in, pretium non erat. Cras suscipit felis sed nibh
        aliquet, vitae fringilla risus auctor. Nulla magna magna, mollis at fermentum
        vitae, sodales sed magna. Suspendisse nec tincidunt felis, a consequat ante.
        Fusce vel lectus eget augue tempus tempor sit amet eget lectus. Donec euismod
        pulvinar augue at hendrerit. Aliquam condimentum leo hendrerit arcu sagittis,
        vitae ornare diam accumsan. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia curae; Morbi luctus ornare ultricies.
        Integer eleifend magna lacus, ac molestie leo venenatis sed. In nec ornare
        elit, et laoreet nisi. In blandit orci sed erat tristique, sit amet semper
        ante ornare. Etiam ac nunc facilisis, iaculis mi et, eleifend nulla. Cras eget
        interdum eros. Aliquam porta diam justo, at luctus est euismod ut. Donec at
        consectetur diam. Morbi ultrices convallis egestas. Nulla molestie tincidunt
        purus, in viverra sem vehicula at. Cras orci nisi, sodales id faucibus
        scelerisque, congue eu leo. Praesent ultrices nibh lacinia, tristique augue
        id, hendrerit est. Quisque lobortis molestie risus, vitae condimentum libero
        facilisis in. Pellentesque enim sem, placerat nec consequat eu, blandit eget
        enim. Praesent ut eros ipsum. Fusce sit amet eros tempus, sodales leo at,
        interdum sapien. In dapibus imperdiet ipsum, ac vestibulum est venenatis vel.
        Mauris ac vulputate sem. Curabitur vel aliquet odio, ut dignissim mauris.
        Suspendisse potenti. Nunc maximus est sem, sed vestibulum mi convallis a. Cras
        nec tempor elit. Quisque ac orci nulla. Donec eget scelerisque turpis. Mauris
        eu dolor nibh. Suspendisse porta ipsum eu eros molestie varius. Proin
        vulputate diam eu vestibulum efficitur. Sed porttitor odio eget augue
        tincidunt porttitor. Cras ultrices diam vel felis molestie, nec rhoncus dui
        commodo. Etiam sit amet eros finibus, blandit risus in, iaculis urna.
        Curabitur bibendum felis id urna euismod consectetur. Donec at condimentum
        risus. Aliquam maximus ut mi ac egestas. Nam commodo rhoncus lacus, eu
        pulvinar elit efficitur pellentesque. Ut ultrices turpis ligula, ac eleifend
        mi posuere nec. Mauris posuere luctus sapien, id hendrerit lorem. Vestibulum
        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Suspendisse in pharetra velit. Aliquam dapibus orci vel mauris porttitor, ac
        ultricies magna efficitur. Quisque sodales dictum mauris, at accumsan lectus
        varius sed. Morbi vel sem eu risus ultricies mattis eu vel justo. Mauris
        sollicitudin tempor massa, eget porttitor ex efficitur nec. Ut sit amet metus
        lacus. Aenean at nulla quis libero pharetra tempor sit amet vel massa. Fusce
        scelerisque imperdiet ante at sodales. Quisque pharetra quam eu sem
        vestibulum, non ornare ante malesuada. Nullam eget massa in turpis blandit
        vehicula. 
    </div>

    <div class="main-div">
        Maecenas lacinia sed urna quis vehicula. Suspendisse eget sapien id
        felis luctus elementum. Etiam volutpat, velit sit amet blandit iaculis, nibh
        tortor hendrerit purus, a sollicitudin urna nulla non purus. Phasellus eu quam
        quis justo viverra euismod. Proin sapien mi, vehicula sed semper sed, vehicula
        ac ligula. Morbi ornare, urna nec cursus imperdiet, lacus enim tincidunt ex,
        id fringilla felis dolor ut tellus. Sed eget porta nibh, rutrum aliquam
        turpis. Donec id odio et massa laoreet iaculis ac eu enim. Donec eu pharetra
        nunc. Cras id ligula vel lectus feugiat maximus. Nullam mattis lorem non
        tortor fermentum condimentum. Vestibulum malesuada, erat in viverra rhoncus,
        enim urna bibendum purus, sit amet ultrices augue sapien sed risus. Proin ut
        vulputate neque, vel cursus risus. Etiam semper aliquam nisl, eget euismod
        orci vehicula a. Fusce dui tortor, fermentum vel ornare a, fringilla vel
        justo. Donec elementum erat ligula, sit amet pulvinar nulla imperdiet commodo.
        Sed ut consequat erat. Proin venenatis consectetur dui, quis eleifend risus
        fringilla nec. Quisque tincidunt leo leo, eget rhoncus sapien ornare a.
        Vivamus imperdiet massa in efficitur tristique. Maecenas posuere arcu id
        fringilla molestie. Nulla ut lorem ullamcorper, ultrices nulla eu, consectetur
        odio. Nulla eleifend diam rhoncus neque sollicitudin, id varius lectus
        placerat. Proin semper nisi erat, sit amet viverra quam gravida sit amet.
        Nullam arcu dolor, ultricies a risus eu, rutrum eleifend libero. Fusce at
        purus hendrerit, placerat eros scelerisque, condimentum dui. Praesent
        sollicitudin luctus lacus, sed tristique ante commodo dictum. Duis in aliquet
        lorem, sed ornare mauris. Vivamus convallis magna massa, sed sodales justo
        pretium ullamcorper. Ut eget ligula maximus, hendrerit felis non, fringilla
        urna. Donec euismod ac ligula at tempor. Proin massa ex, dictum sit amet
        egestas sed, fermentum in mi. Integer blandit laoreet mi, eu hendrerit ligula
        tincidunt sed. Sed eget tincidunt sem. Nam eu sapien at urna mollis dignissim.
        Mauris nec augue eget nunc commodo porttitor a ac sem. Nam varius, diam sed
        condimentum pharetra, odio nunc vehicula dolor, sed placerat felis diam ac
        lorem.
    
    </div>

{% endblock content %}
